.container{
  font-size: 30px;
  height: 40px;
  background-color: white;
  text-align: center;
  width: 65%;
  margin: auto;
  margin-top: 20px;
  border: 2px double black;
  border-radius: 8px;
}
.main-emoji-container{
  height: 300px;
  width: 27%;
  display: block;
  justify-content: center;
  background-color: white;
  border: 2px double black;
  border-radius: 20px;
  margin: auto;
  margin-top: 70px;
  box-shadow :  0 10px 29px 0 rgba(245, 210, 245, 10.5);

}
.emoji-container{
  background-color: white;
  
  height: 90px;
  width:50% ;
  margin: auto;
  margin-top: 55px;
  border: 2px double black;
  border-radius: 30px;
  display: flex;
  justify-content: space-evenly;
 
} 
.emoji-type{
 width: 90px;
 height: 40px;
}
.main-emoji{
text-align: center;
display:block;
justify-content: center;

align-items: center;
 margin-top: 10%;
  font-size: 155px;

}
.emoji-item{
font-size: 50px;
margin: 10px;
}
.emoji-item:hover{
  cursor: pointer;
  transform: scale(1.4);
}